services:
  db:
    image: postgres:16.0-alpine3.18
    container_name: web_autentication

    networks:
      back-end:
    ports:
      - '5432:5432'

    volumes:
      - db_data:/var/lib/postgresql/data

    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}

networks:
  back-end:

volumes:
  db_data: